* {
  /* `otf-font-awesome` is required to be installed for icons */
  /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
  font-family: FiraCode;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  min-height: 0px;
  margin: 0px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 1);
/*  border-bottom: 3px solid rgba(0, 1, 1, 0.5); */
	border-bottom: 0px;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.firefox {
  background-color: #00ff00;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  /* box-shadow: inset 0 -3px transparent; */
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  /*box-shadow: inset 0 -3px #ffffff;*/
}

#custom-separator {
	background-color: black;
}

#workspaces button {
  padding: 0 2px;
  margin: 0px;
  background-color: black;
  color: #aaaaaa;
}
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  color: white;
}
#workspaces button.focused {
  background-color: #0dcdcd;
  box-shadow: inset 0 -3px #ffffff;
}
#workspaces button.empty {
	background-color: black;
	color: #666666;
}
#workspaces button.active {
  color: #0bcbcb;
}
#workspaces button.urgent {
  background-color: #eb4d4b;
  color: black;
}
#mode {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#custom-separator,
#clock,
#battery,
#bluetooth,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
  color: #ffffff;
}

#window,
#workspaces {
	padding: 0px;
  margin: 0px;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#bluetooth {
	background-color: black;
	color: #dddddd;
}
#bluetoth.disabled {
	background-color: black;
	color: grey;
}

#clock {
  background-color: black;
  color: #dddddd;
}

#cpu {
  background-color: #2ecc71;
  color: black;
}
#cpu.fifty {
	background-color: orange;
}
#cpu.ninety {
	background-color: red;
}

#battery {
  background-color: black;
  color: white;
}
@keyframes blinkred {
	50% {
		background-color: black;
		color: white;
	}
	100% {
	  background-color: #ff0000;
	  color: black;
	}
}
#battery.p25:not(.charging) {
  animation-name: blinkred;
  animation-duration: 0.5s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes sinered {
	from {background-color: red}
	to {background-color: black}
}
#battery.p25.charging {
  color: white;
  animation-name: sinered;
  animation-duration: 1s;
  animation-timing-function: steps(16);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes sineorange {
	from { background-color: orange; }
	to { background-color: black; }
}
#battery.p60.charging {
	animation-name: sineorange;
	color: white;
	animation-duration: 2s;
	animation-timing-function: steps(32);
	animation-iteration-count: infinite;
	animation-direction: alternate; 
}
#battery.p60:not(.charging) {
	background-color: orange;
	color: black;
}

@keyframes sinegreen {
	from { background-color: #00ff00; }
  to { background-color: black; }
}
#battery.p85.charging {
	animation-name: sinegreen;
	color: white;
	animation-duration: 2s;
	animation-timing-function: steps(32);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#battery.p85:not(.charging) {
	background-color: #00aa00;
	color: black;
}
@keyframes blinkgreen {
	50% {
		background-color: black;
		color: white;
	}
  100% {
  	background-color: #00ff00; 
    color: black;
	}
}
#battery.full.charging {
	animation-name: blinkgreen;
	animation-duration: 0.5s;
	animation-timing-function: steps(2);
	animation-iteration-count: infinite;
	animation-direction: alternate; 
}
#battery.full:not(.charging) {
	background-color: #00ff00;
	color: black;
}

#power-profiles-daemon:not(.charging) {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  background-color: #f53c3c;
  color: #ffffff;
}

#power-profiles-daemon.balanced {
  background-color: #2980b9;
  color: #ffffff;
}

#power-profiles-daemon.power-saver {
  background-color: #2ecc71;
  color: #000000;
}

label:focus {
  background-color: #000000;
}

#memory {
  background-color: #000000;
  color: #dddddd;
}

#disk {
  background-color: #964B00;
}

#backlight {
  background-color: #000000;
  color: #dddddd;
}

#network {
   /* background-color: #2980b9; */
  color: #aaaaaa;
  background-color: black;
}

#network.disconnected {
	background-color: #990000;
  color: #cccccc;
}

#pulseaudio {
  background-color: black;
  color: #dddddd;
}

#pulseaudio.muted {
  background-color: black;
  color: #aaaaaa;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
  color: black;
}

#temperature.critical {
  background-color: #eb4d4b;
  color: white;
}

#tray {
  background-color: #000000;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #0bcbcb;
  color: #740864;
  padding: 0 5px;
  margin: 0 0px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 0px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  /*background: rgba(0, 0, 0, 0.2);A*/
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}
